img{
    width: 40px;
    border-radius: 75px;
    float: left;
    margin-right: 15px;
    
    
    
}
.retro{
    background-color: rgb(223, 210, 210);
    color:white;
    text-align: justify;

}
li{
    text-align: justify;
}
a.linking me{
    float: inline-start;

}
body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Ftms-outsource.com%2Fblog%2Fposts%2Ftech-companies-in-california%2F&psig=AOvVaw3tny4fgLoqkp85ymVFZHIR&ust=1710846360441000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCNjTtYbX_YQDFQAAAAAdAAAAABAE.jpg)

}
p,ul{
    border-style: outset;
color-scheme: rgb(21, 255, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  
}
table,th,td{
    border-style: groove dotted  double dashed;
    width:25%;
    border-radius: 20px;
}
tr:hover{
    background-color:chartreuse;
}

.sky{
    float:right ;

}
.container{
    display: flex;
    gap :3em;
    justify-content :center;
    padding :10px 30px;
}

.div1, .div2, .div3{
    width: 21em;
    background-color: rgb(0, 238, 255);
    padding : 10px 30px;
    height: 25em;
    box shadow: 5px 5px 25px #0000005f;
    border-radius: 10px;
}
@media(max-width:1200px)
{.container{
   height:100%;
   flex-direction: row;
}
}
.bottle{
    
    width :600px;
    margin: 0 auto;
    background-color:green ;
}
button{
    text-transform: uppercase;
    padding:10px 20px;

}
button:hover{
    background-color: rgb(197, 11, 11);
}
div:hover{
    background-color:white ;
}
.enemy{
    width : 100px;
    height: 50px;
}
.yet{
    text-transform: uppercase;
}